# Activity 1

For this activity, we will be familiarizing ourselves with creating Python variables and data types.

Please make sure you open this file in Jupyter Notebook or Google Colab -- you will have to either open Jupyter Notebook first or upload the file to Google Colab before being able to edit the file. In turn, make sure that you **print your output** for every response in the activity.

-----
## Submission Instructions
1. Upload the completed activity to the "Activities" and "Reflections" folders of your GitHub portfolio;
2. Ensure your submission consists of two files: (a) one reflection in markdown uploaded to "Reflections" (e.g. `a1_reflection.md`); and (b) one Jupyter notebook with completed responses for each step of the activity (e.g. `a1_building_blocks.ipynb`).

## Please respond with your code in the cells.

1. Create a variable for your first name called ```first```.

In [ ]:
first = "Emily"
print(first)

Emily

*2*. Create a variable for your last name called ```last```.

In [ ]:
last = "Joseph"
print(last)

Joseph

3. Create a variable for your age called ```age```.

In [ ]:
age = 20
print(age)

20

4. Using the variables you have created, create a new variable ```name``` by joining your first and last names together.

In [ ]:
name = first + " " + last
print(name)

Emily Joseph

5. Use string methods to convert the variable ```activity1 = "  THIS IS MY FIRST PYTHON ACTIVITY!! "``` to  lowercase and remove any leading or trailing white space, then print the output as a new variable: ```activity1_lower```.

In [ ]:
activity1 = " WOOHOO! THIS IS MY FIRST PYTHON ACTIVITY!! "
activity1_lower = activity1.strip().lower()
print(activity1_lower)

woohoo! this is my first python activity!!

6. What data type is the variable ```age```? Declare the value and print the data type.

In [ ]:
age = 20
print(type(age))

<class 'int'>

*7*. What happens when you add ```10``` to your ```name```? Please demonstrate it in the cell below and add an inline comment that provides a brief explanation of the result.

In [ ]:
name = "Emily Joseph"
result = name + str(10)  # Convert the integer 10 to a string before concatenation
print(result)

Emily Joseph10

8. Declare a variable that asks for user input, then print the variable storing their response as the output

In [ ]:
user_input = input("Please enter something: ")  # Ask for user input
print(user_input)  # Print the user's response

Please enter something: n
n

-------

## Side quest challenge

This side quest is an extra credit challenge. You can still get full credit for this activity even if you do not complete this challenge.

Use ***f-string formatting*** to display your ```name``` and ```age``` in a sentence.   

Check out Kyle Bradbury and Nick Eubank's [introduction to f-strings](https://nickeubank.github.io/practicaldatascience_book/notebooks/other/fstrings.html).

In [ ]:
name = "Emily Joseph"
age = 20

# Using f-string formatting to display name and age
sentence = f"My name is {name} and I am {age} years old."
print(sentence)

My name is Emily Joseph and I am 20 years old.